body {
        background: #fff;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        /*padding-top: 50px;*/
        padding-bottom: 250px;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 280px;
        height: 280px;
    }
    .card{


    }
    .thumarea{
      position: relative;
      margin-top:30px;
      margin-left: 5%;
      height: 60px;
      padding-bottom: 20px;
    }
    .username{
      position: relative;
      top:24px;
      left: 60px;
      font-size: 16px;
      color: rgba(0,0,0,1);
    }
    .location{
      position: relative;
      top:10px;
      left: 60px;
      color: rgba(236,204,191,1);
    }
    .museicon{
      position: relative;
        width: 50px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        top: -48px;
    }
    .maincaption{
      color: rgba(3, 3, 3, 0.40 );
      width: 90%;
      margin-left: 5%;
    }
    .swipe-caption{
      margin-top:-60px;
      color: rgba(0,0,0,0);
      margin-top: 350px;
      color: rgba(0,0,0,0);
      width: 105%;
      margin-left: -2%;
    }
    .swiper-slide-active .swipe-caption{
      color: rgba(10,24,24,0.5);
    }
       .size350{
      width: 280px;
      height: 280px;
    
    }